<ion-header>
  <ion-toolbar>
    <!-- Cancel-Button am Anfang -->
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Titel in der Mitte -->
    <ion-title>
      {{ isEditing ? 'Edit Expense' : 'Add Expense' }}
    </ion-title>

    <!-- Save-Button am Ende -->
    <ion-buttons slot="end">
      <ion-button [disabled]="!expenseForm.valid || isLoading" (click)="save()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Ladezustand -->
  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>

  <!-- Name -->
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <br>
    <ion-input [formControl]="nameControl" placeholder="Enter expense name"></ion-input>
  </ion-item>
  <ion-note *ngIf="nameControl.invalid && nameControl.touched" color="danger">
    Name is required
  </ion-note>

  <!-- Kategorie -->
  <ion-item>
    <ion-label position="floating">Category</ion-label>
    <br>
    <ion-select
      [formControl]="categoryControl"
      placeholder="Select category">

      <!-- Kategorien dynamisch laden -->
      <ion-select-option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </ion-select-option>

      <!-- Nur anzeigen, wenn keine Kategorien vorhanden sind -->
      <ion-select-option *ngIf="categories.length === 0" disabled>
        No categories available
      </ion-select-option>
    </ion-select>

    <!-- Button zum Erstellen einer neuen Kategorie -->
    <ion-button fill="clear" slot="end" (click)="openNewCategoryModal()">
      <ion-icon name="add"></ion-icon>
      Add New Category
    </ion-button>
  </ion-item>
  <ion-note *ngIf="categoryControl.invalid && categoryControl.touched" color="danger">
    Category is required
  </ion-note>


  <!-- Betrag -->
  <ion-item>
    <ion-label position="floating">Amount (CHF)</ion-label>
    <ion-input
      type="number"
      [formControl]="amountControl"
      placeholder="Enter amount">
    </ion-input>
  </ion-item>
  <ion-note *ngIf="amountControl.invalid && amountControl.touched" color="danger">
    Amount must be greater than 0
  </ion-note>

  <!-- Datum -->
  <ion-item>
    <ion-label position="floating">Date</ion-label>
    <ion-datetime
      [formControl]="dateControl"
      presentation="date"></ion-datetime>
  </ion-item>
  <ion-note *ngIf="dateControl.invalid && dateControl.touched" color="danger">
    Date is required
  </ion-note>

  <!-- Löschen-Button -->
  <ion-item *ngIf="isEditing">
    <ion-button color="danger" expand="block" (click)="delete()">
      <ion-icon slot="start" name="trash"></ion-icon>
      Delete Expense
    </ion-button>
  </ion-item>
</ion-content>



