<ion-header>
  <ion-toolbar>
    <!-- Cancel-Button am Anfang -->
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Titel in der Mitte -->
    <ion-title>{{ isEditing ? 'Edit Expense' : 'Add Expense' }}</ion-title>

    <!-- Save-Button am Ende -->
    <ion-buttons slot="end">
      <ion-button [disabled]="!expenseForm.valid || isLoading" (click)="save()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Ladezustand -->
  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>

  <!-- Name -->
  <ion-item lines="none">
    <ion-icon slot="start" name="text"></ion-icon>
    <ion-input
      [formControl]="nameControl"
      placeholder="Expense Name"
    ></ion-input>
  </ion-item>
  <ion-note *ngIf="nameControl.invalid && nameControl.touched" color="danger">
    Name is required
  </ion-note>

  <!-- Kategorie -->
  <ion-item lines="none">
    <ion-icon slot="start" name="pricetag"></ion-icon>
    <ion-select
      [formControl]="categoryControl"
      placeholder="Select category"
    >
      <!-- Kategorien dynamisch laden -->
      <ion-select-option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </ion-select-option>
    </ion-select>

    <!-- Button für Neue Kategorie -->
    <ion-button fill="clear" slot="end" (click)="openNewCategoryModal()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-note *ngIf="categoryControl.invalid && categoryControl.touched" color="danger">
    Category is required
  </ion-note>

  <!-- Betrag -->
  <ion-item lines="none">
    <ion-icon slot="start" name="cash"></ion-icon>
    <ion-input
      type="number"
      [formControl]="amountControl"
      placeholder="Amount"
    ></ion-input>
  </ion-item>
  <ion-note *ngIf="amountControl.invalid && amountControl.touched" color="danger">
    Amount must be greater than 0
  </ion-note>


  <!-- Datum -->
  <ion-item lines="none">
    <ion-icon slot="start" name="calendar"></ion-icon>
    <ion-datetime
      [formControl]="dateControl"
      presentation="date"
    ></ion-datetime>
  </ion-item>
  <ion-note *ngIf="dateControl.invalid && dateControl.touched" color="danger">
    Date is required
  </ion-note>

  <!-- Löschen Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isEditing">
    <ion-fab-button color="danger" (click)="delete()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
