<ion-app>
  <ion-split-pane contentId="main-content">
    <!-- Menü -->
    <ion-menu contentId="main-content" type="overlay" [disabled]="!(authService.currentUser() | async)">
      <!-- Benutzerinformationen -->
      <ion-content>
        <ion-list id="menu-list">
          <!-- Kopfbereich mit Benutzerinformationen -->
          <ion-list-header>
            <ion-chip *ngIf="authService.currentUser() | async as user">
              <ion-avatar>
                <img [src]="user.photoURL" />
              </ion-avatar>
              <ion-label>
                {{ user.displayName }}
              </ion-label>
            </ion-chip>
          </ion-list-header>

          <!-- Navigation -->
          <div *ngIf="authService.currentUser() | async">
            @for (page of appPages; track page.title; let i = $index) {
              <ion-menu-toggle auto-hide="false">
                <ion-item
                  button
                  routerDirection="root"
                  [routerLink]="[page.url]"
                  lines="none"
                  detail="false"
                  routerLinkActive="selected"
                >
                  <ion-icon slot="start" [name]="page.icon"></ion-icon>
                  <ion-label>{{ page.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            }
          </div>
        </ion-list>
      </ion-content>

      <!-- Logout-Button -->
      <ion-footer>
        <ion-toolbar>
          <ion-buttons>
            <ion-button *ngIf="authService.currentUser() | async" (click)="authService.logout()" color="primary">
              <ion-icon slot="start" name="log-out"></ion-icon>
              Logout
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>

    <!-- Hauptinhalt -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
