<ion-header>
  <ion-toolbar>
    <!-- Cancel-Button -->
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Titel -->
    <ion-title>Neue Kategorie</ion-title>

    <!-- Save-Button -->
    <ion-buttons slot="end">
      <ion-button [disabled]="!categoryForm.valid || isLoading" (click)="save()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Ladezustand -->
  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>

  <!-- Kategorie Icon -->
  <ion-item lines="none">
    <ion-icon slot="start" name="pricetag-outline"></ion-icon>
    <ion-input
      placeholder="Kategorie Name"
      [formControl]="nameControl"
      clear-input
    ></ion-input>
  </ion-item>

  <ion-note *ngIf="nameControl.invalid && nameControl.touched" color="danger">
    Name ist erforderlich (mind. 2 Zeichen).
  </ion-note>
</ion-content>
